.FlowerPreview {
  flex: 0 0 100px;
display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
  align-content: center;

}
.flower {
  width: 450px;
  height: 450px;
  background-color: white;
}
.ingredients {
  width: 380px;
  height: 380px;
  border-radius: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
}
.price {
  background-color:rgb(207, 94, 132);
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.5rem;
  color: white;


  width: 150px;
  height: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
align-content: center;
}
@media (max-width: 649px) {
  .flower{
    width: 380px;
    height: 380px;

  }
  .ingredients {
    display: flex;
    justify-content: center;
    align-content: center;
  }

}
@media (max-width: 399px) {
  .flower{
    width: 400px;
    height: 400px;

  }}
  @media (max-width: 849px) {
    .flower{
      width: 400px;
      height: 400px;
  
    }

  }

